* {
  border: none;
  outline: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family:  Arial, Helvetica, sans-serif; 
  background-image: linear-gradient(to right top, #e53434, #ed2151, #ef166f, #ea1f8d, #dd33ab);
  background-repeat: no-repeat;
  height: 100vh;
}
.ba-form {
  width: 100%;
  max-width: 461px;
  height: auto;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 16px #dd33ab;
}
.ba-wrapper {
  width: 100%;
  max-width: 401px;
  margin: auto;
}
.ba-header {
  position: relative;
  margin-bottom: 34px;
}
.ba-header__title {
  font-size: 1.5rem;
  text-indent: 35px;
  margin-bottom: 16px;
}

.ba-header__title::before {
  content: url(../images/sign-up-icon.png);
  position: absolute;
  top: 0;
  left: -35px;
}
.ba-header__text {
  font-size: 0.812rem;
  color: #7a7b7f;
}
.ba-header__link,
.ba-footer__link {
  color: #ea355a;
}
.ba-line-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.ba-line-name__item {
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.875rem;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.ba-line-name__item:first-child {
  margin-right: 15px;
}
.ba-line-name__item::placeholder {
  color: #7a7b7f;
}

/* input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder, 
input[type="text"]:focus::-webkit-input-placeholder {
  text-indent: 500px; 
  transition: text-indent 0.5s ease;
} */
input[type="text"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-moz-placeholder {
  text-indent: 500px; 
  transition: text-indent 0.5s ease;
} 
.ba-line-social {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.ba-line-social__item {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.875rem;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.ba-line-social__item:last-of-type {
  margin-top: 15px;
}
.ba-line-social__btn {
  width: 100%;
  background-color: #ea355a;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.125rem;
  cursor: pointer;
  padding: 15px;
  margin-top: 15px;
  transition: .4s;
}
.ba-line-social__btn:hover {
  background-color: transparent;
  color: #ea355a;
  border: 1px solid #ea355a;
}
.ba-footer__text {
  font-size: 0.750rem;
  color: #7a7b7f;;
}
input[type="text"]:focus:valid {
  background-color: rgb(118, 219, 118);
}
input[type="text"]:focus:invalid {
  background-color: red;
}